{:lein true
 :builds
 {:esm {:target :esm
        :output-dir "js-compiler/esm"
        :compiler-options {:optimizations :advanced}
        :modules {:agentlang {:exports {:myFunction agentlang.component/my-function}}}}
  :node-library
  {:target :node-library
   :output-to "js-compiler/node/index.js"
   :exports {:myFunction agentlang.component/my-function}}
  :npm-module
  {:target :npm-module
   :output-dir "js-compiler/npm"
   :entries [:agentlang.component]}}}
