{:connection-manager
 {;; :username #$ CM_USERNAME
  ;; :password #$ CM_PASSWORD
  ;; :token #$ CM_TOKEN
  :connections [[:Ticket/JiraConnection "My Jira Connection"]
                [:Ticket/GithubConnection "My Github Connection"]
                [:Slack/Connection "My Slack Connection"]]}}
